<script type="text/x-template" id="c-test-template">
    <div class="row">
        <div class="col-sm-3">
            <ul class="">
                <li class="nav-item"><span class="divider">renders</span></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-input&cConf=rInputConf">rInput</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-input&cConf=rPasswordConf">rInput password</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-input-helped&cConf=rInputHelpedConf">rInputHelped</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-autocomplete&cConf=rAutocompleteConf">rAutocomplete</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-belongsto&cConf=rBelongstoConf">rBelongsto</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-radio">rRadio</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-checkbox">rCheckbox</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-select">rSelect</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-textarea">rTextarea</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-text">rText</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-date-select">rDateSelect</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-date-picker">rDatePicker</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-texthtml">rTexthtml</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-hasmany">rHasmany</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-hasmany-view">rHasmanyView</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-swap">rSwap</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-b2-select2">rB2Select2</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-b2m-select2">rB2MSelect2</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-upload">rUpload</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=r-upload-ajax">rUploadAjax</a></li>
                <li class="nav-item"><span class="divider">Views</span></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-edit&cConf=vCustomConf">Custom Record</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-search&cModel=user">Search user</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-insert&cModel=user">Insert user</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-edit&cModel=user&cPk=4">Edit user 4</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-view&cModel=user&cPk=4">View user 4</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-list&cConf=vCustomListConf">Custom List</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-list&cModel=user">List user </a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=v-list-edit&cModel=user">List Edit user </a></li>
                <li class="nav-item"><span class="divider">Dashboards</span></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=c-manage&cModel=user">Manage user</a></li>
                <li class="nav-item pl-2"><a href="#c-test?cComponent=csv-dashboard&cProviderName=comune_istat">Import csv</a></li>
            </ul>

        </div>
        <div class="col-sm-9">
            <div id="component-area">
                <h4>Componente sottoposto a test : {{componentName}}</h4>
                <component v-if="conf"
                        :is="componentName"
                        :c-conf="conf"
                        :c-model="getModel()"
                        :c-pk="getPk()"
                        :c-provider-name="getProviderName()"
                ></component>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <pre id="conf-code">
                    </pre>
                </div>
                <div class="col-sm-6">
                    b
                </div>
            </div>
        </div>
    </div>
</script>
