<template id="v-edit-template">
    <div class="container-fluid">
        <slot><h4 card-title v-show="viewTitle">{{viewTitle}}</h4></slot>
        <c-loading v-if="loading" :error-msg="errorMsg"></c-loading>
        <form v-else enctype="multipart/form-data">
            <!-- campi nascosti -->
            <template v-for="(widget, key) in widgets" v-if="isHiddenField(key)">
                <v-widget :c-widget="widget" :key="key"></v-widget>
            </template>
            <div  v-for="(widget, key) in widgets" v-if="!isHiddenField(key)">
                <v-widget :c-widget="widget"></v-widget>
            </div>
        </form>
        <div class="p-3" v-show="actions.length">
            <template v-for="(action,name) in actionsConf">
                <v-action  :c-action="action"></v-action>
            </template>
        </div>
    </div>
</template>
