<template id="v-hasmany-template">
    <div>
        <div>&nbsp;</div>
        <div v-if="loading">
            loading
        </div>
        <div v-else>
            <div  v-for="(item, key) in renders">
                <!--<component v-bind:is="item.type" v-bind:c-conf="item" v-bind:c-key="renderKey(key)"></component>-->
                <component :is="item.template" :c-type="item.type" :c-render="item" :c-key="getFieldName(key)"></component>
            </div>
        </div>
    </div>
</template>