<script type="text/x-template" id="v-hasmany-view-template">
    <div>
        <div>&nbsp;</div>
        <div v-if="loading">
            loading
        </div>
        <div v-else>
            <div>pippo</div>
            <div  v-for="(widget, key) in widgets">
                <v-widget :c-widget="widget"></v-widget>
<!--                <component v-if="item.type!='w-hidden'" :is="item.template" :c-type="item.type" :c-widget="item" :c-key="getFieldName(key)"></component>-->
<!--                <component v-if="item.type=='w-hidden'" :is="item.type" :c-conf="item" :c-key="getFieldName(key)"></component>-->
            </div>
        </div>
        <div v-show="actions.length">
            <template v-for="(action,name) in actionsClass">
                <component  v-bind:is="name" v-bind:c-conf="action"></component>
            </template>
        </div>
    </div>
</script>
