<script type="text/x-template" id="v-hasmany-template">
    <div>
        <div>&nbsp;</div>
        <c-loading v-if="loading"></c-loading>
        <div v-else>
            <div  v-for="(item, key) in renders">
                <component v-if="item.type!='w-hidden'" :is="item.template" :c-type="item.type" :c-render="item" :c-key="getFieldName(key)"></component>
                <component v-if="item.type=='w-hidden'" :is="item.type"  :c-conf="item" :c-key="getFieldName(key)"></component>

            </div>
        </div>
    </div>
</script>
