<script type="text/x-template" id="v-hasmany-view-template">
    <div>
        <div>&nbsp;</div>
        <div v-if="loading">
            loading
        </div>
        <div v-else>
            <div>pippo</div>
            <div  v-for="(widget, key) in widgets">
                <v-widget :c-widget="widget"></v-widget>
            </div>
        </div>
        <div v-show="actions.length">
            <template v-for="(action,name) in actionsClass">
                <component  v-bind:is="name" v-bind:c-conf="action"></component>
            </template>
        </div>
    </div>
</script>
