<template id="v-list-template">
    <div class="float-end ">
        <h4 v-show="viewTitle">{{viewTitle}}</h4>
        <c-loading v-if="loading" :error-msg="errorMsg"></c-loading>
        <div v-else>
            <div class="float-none">
                <div class="float-left" v-if="collectionActionsName.length">
                    <template v-for="(name,index) in collectionActionsName">
                        <v-action :c-action="collectionActions[name]"></v-action>
                    </template>
                </div>
                <div class="float-right">
                    <!-- v-bind:c-route-conf="routeConf" -->
                    <c-paginator v-if="widgets.length > 0" v-show="pagination" v-bind:c-pagination="pagination" v-bind:c-route="route"></c-paginator>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                        <tr v-if="widgets.length > 0">
                            <th v-show="recordActionsName.length">
                                <input c-row-check-all v-on:change="selectAllRows" v-if="needSelection" class="btn btn-sm btn-outline-secondary" type="checkbox" >
                                <span>{{"app.azioni" | translate }}</span>
                            </th>
                            <th v-for="(key,index) in keys" v-if="!isHiddenField(key)">
                                <action-order v-if="isOrderField(key)" v-bind:c-conf="getOrderConf(key)" :key="_uid+key"></action-order>
                                <span v-else>{{key+'.label' | translate(langContext) }}</span>
                            </th>
                        </tr>
                        <tr v-if="widgets.length == 0">
                            <th v-show="recordActionsName.length">
                                {{"app.nessun-elemento" | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody >
                    <tr v-for="(row,index) in widgets">
                        <td v-show="recordActionsName.length">

                            <div class="btn-group btn-group-sm" role="group">
                                <div v-if="needSelection" class="input-group-text bg-transparent">
                                    <input c-row-check type="checkbox">
                                </div>

                                <template v-for="(action,name) in recordActions[index]" >
                                    <v-action  :c-action="action"></v-action>
                                </template>
                            </div>

                        </td>
                        <td v-for="(widget, key) in row" v-if="!isHiddenField(key)">
                            <v-widget :c-widget="widget" :key="key"></v-widget>
                        </td>
                        <template v-for="(widget, key) in row" v-if="isHiddenField(key)">
                            <v-widget :c-widget="widget" :key="key"></v-widget>
                        </template>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix">
                <div class="float-left" v-show="collectionActionsName.length">
                    <template v-for="(name,index) in collectionActionsName">
                        <v-action  :c-action="collectionActions[name]"></v-action>
                    </template>
                </div>
                <div class="float-right">
                    <c-paginator v-if="widgets.length > 0" v-show="pagination" v-bind:c-pagination="pagination" v-bind:c-route="route"></c-paginator>
                </div>
            </div>
        </div>
    </div>
</template>
