<script type="text/x-template" id="v-list-edit-template">
    <div>
        <h4 v-show="viewTitle">{{viewTitle}}</h4>
        <c-loading v-if="loading"></c-loading>
        <div v-else>
            <div class="float-none">
                <div class="float-left" v-show="collectionActionsName.length">
                    <template v-for="name in collectionActionsName">
                        <component  v-bind:is="name" v-bind:c-conf="collectionActions[name]"></component>
                    </template>
                </div>
                <div class="float-right">
                    <c-paginator v-bind:c-pagination="pagination" v-bind:c-route="route"></c-paginator>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th v-show="recordActionsName.length">
                            <input c-row-check-all v-on:change="selectAllRows" v-show="needSelection" class="btn btn-sm btn-outline-secondary" type="checkbox" >
                            <span>{{"app.azioni" | translate }}</span>
                        </th>
                        <th v-for="key in keys">
                            <span v-show="!conf.orderFields[key]">{{key}}</span>
                            <action-order v-show="conf.orderFields[key]" v-bind:c-conf="getOrderConf(key)"></action-order>
                        </th>
                    </tr>
                    <tr v-if="renders.length == 0">
                        <th v-show="recordActionsName.length">
                            {{"app.nessun-elemento" | translate }}
                        </th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr v-for="(row,index) in renders">
                        <td v-show="recordActionsName.length">

                            <div class="btn-group" role="group">
                                <div class="input-group-text bg-transparent">
                                    <input c-row-check v-show="needSelection"  type="checkbox">
                                </div>

                                <template v-for="(action,name) in recordActions[index]">
                                    <component  v-bind:is="name" :c-ref="'ra-'+index+'-'+name"  v-bind:c-conf="action"></component>
                                </template>
                            </div>

                        </td>
                        <td v-for="(render, key) in row">
                            <component v-if="!editMode[index]" :is="render.type"            :c-conf="render"            :c-key="key" :c-ref="'rv-'+index+'-'+key"></component>
                            <component v-if="editMode[index]" :is="rendersEdit[index][key].type"  :c-conf="rendersEdit[index][key]"  :c-key="key" :c-ref="'re-'+index+'-'+key"></component>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="float-none">
                <div class="float-left" v-show="collectionActionsName.length">
                    <template v-for="name in collectionActionsName">
                        <component  v-bind:is="name" v-bind:c-conf="collectionActions[name]"></component>
                    </template>
                </div>
                <div class="float-right">
                    <c-paginator  v-bind:c-pagination="pagination" v-bind:c-route="route"></c-paginator>
                </div>
            </div>
        </div>
    </div>
</script>
