<script type="text/x-template" id="v-search-template">
    <div class="card-body" v-if="(widgets && Object.keys(widgets).length > 0)">
        <slot><h4 v-show="viewTitle">{{viewTitle}}</h4></slot>
        <c-loading v-if="loading" :error-msg="errorMsg"></c-loading>
        <form v-else>
            <!-- campi nascosti -->
<!--            <component v-for="(item, key) in widgets" v-if="item.type=='w-hidden'" :is="item.type" :c-conf="item" :c-key="getFieldName(key)"></component>-->
            <v-widget v-for="(widget, key) in widgets" v-if="widget.type=='w-hidden'" :c-widget="widget" :key="key"></v-widget>
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col col-6" v-for="(widget, key) in widgets" v-if="widget.type!='w-hidden'" :key="key">
<!--                            <component v-if="item.type!='w-hidden'" :is="item.template" :c-type="item.type" :c-widget="item" :c-key="getFieldName(key)"></component>-->
                            <v-widget  :c-widget="widget"></v-widget>

                        </div>
                    </div>
                </div>
                <div class="col-2 align-middle">
                    <div class="p-3" v-show="actions.length">
                        <template v-for="(action,name) in actionsClass">
                            <component  v-bind:is="name" v-bind:c-conf="action"></component>
                        </template>
                    </div>
                </div>

            </div>

        </form>


    </div>
</script>
