<template  id="v-search-template">
    <div class="card mb-1">
        <div class="card-body" v-if="(widgets && Object.keys(widgets).length > 0)">
            <slot><h4  v-if="viewTitle">{{viewTitle}}</h4></slot>
            <c-loading v-if="loading" :error-msg="errorMsg"></c-loading>
            <form v-else>
                <!-- campi nascosti -->
                <v-widget v-for="(widget, key) in widgets" v-if="isHiddenField(key)" :c-widget="widget" :key="key"></v-widget>
                <div class="row">
                    <div class="col col-lg-3 col-md-4 col-sm-6" v-for="(widget, key) in widgets" v-if="!isHiddenField(key)">
                        <v-widget  :c-widget="widget" :key="key"></v-widget>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="" v-show="actions.length">
                <template v-for="(action,name) in actionsConf">
                    <v-action :c-action="action"></v-action>
                </template>
            </div>
        </div>
    </div>

</template>
