<script type="text/x-template" id="action-square-template">
    <button
        class="btn"
        v-if="controlType=='button'" type="button" v-show="_visible"
        :title="title | translate" :class="css" v-on:click="_execute" v-bind:disabled="_disabled">
        <i class="m-1" v-show="icon" :class="icon"></i>
        <span>{{ text | translate }}</span>
    </button>
    <a v-else
       class="btn" :target="target" :href="href" v-show="_visible"
       :title="title | translate" :class="css" :disabled="_disabled">
        <i class="m-1" v-show="icon" :class="icon"></i>
        <span>{{ text | translate }}</span>
    </a>
</script>

<script type="text/x-template" id="w-input-view-template">
    <input :placeholder="label" class="form-control" :type="inputType" v-model="value" v-bind:name="getFieldName()"
           v-bind:c-marker="cMarker" disabled="disabled">
</script>
<script type="text/x-template" id="w-input-focus-template">
    <input :placeholder="label" class="form-control" :type="inputType" v-model="value" v-bind:name="getFieldName()"
           v-bind:c-marker="cMarker" v-on:focusout="change">
</script>

<script type="text/x-template" id="w-download-template">
    <a :href="value" target="_blank"><i :class="icon"></i></a>
</script>


<script type="text/x-template" id="w-textarea-view-template">
    <textarea :maxlength="maxlength"
              class="form-control" :class="{'js-form-advanced-char-count-down' : charleft}"
              data-output-target=".js-form-advanced-char-left"
              v-model="value" v-bind:name="getFieldName()"
              v-bind:c-marker="cMarker" v-on:change="change"
              disabled="disabled"
    ></textarea>
    <!--<div v-if="charleft" class="fs&#45;&#45;12 text-muted text-align-end mt&#45;&#45;3">-->
    <!--car. rimanenti: <span class="js-form-advanced-char-left">{{maxlength || 255}}</span>-->
    <!--</div>-->

</script>


<template id="w-belongsto-view-template">

    <input :placeholder="label" class="form-control"
           type="text" v-model="getViewValue()" v-bind:name="getFieldName()"
           v-bind:c-marker="cMarker" disabled="disabled">

</template>

<template id="w-hasmany-listed-template">
    <div class="">

        <input type="hidden" value="1">

        <div class="container-fluid py-1">
            <span class="pull-left text-dark text-truncate font-weight-medium">{{ label | translate }}</span>&nbsp;

            <v-list :c-conf="hasManyListConf">

            </v-list>
        </div>
    </div>
</template>

<template id="w-hasmany-listed-constraint-template">
    <div class="portlet">
        <div class="portlet-header border-bottom mb-1 " :class="bgClass">
            <span class="pull-left text-dark text-truncate font-weight-medium">{{ label | translate }}</span>&nbsp;
            <div class="pull-right">
                <span class="d-block text-danger text-truncate font-weight-medium" v-if="outOfLimit()">
                    <!-- Limite massimo raggiunto -->
                    {{ 'app.limite-raggiunto' | translate }}
                </span>
                <button v-else v-on:click="addItem" type="button"
                        class="btn-sm btn-pill px-2 py-1 fs--15 btn-warning">
                    <span>{{ 'app.aggiungi' | translate }}</span>&nbsp;
                </button>
            </div>
        </div>
        <div class="portlet-body">

            <input type="hidden" value="1">

            <div class="container-fluid py-1">
                <v-list-constraint :c-conf="hasManyListConf">

                </v-list-constraint>
            </div>
        </div>
    </div>
</template>

<template id="w-hasmany-listed-squared-constraint-template">
    <div class="">

        <input type="hidden" value="1">

        <v-list-constraint :c-conf="hasManyListConf" inline-template>

            <!-- start:portlet -->

            <c-loading v-if="loading" :error-msg="errorMsg"></c-loading>
            <div v-else class="portlet">
                <div class="portlet-body pb-0">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6 mt-1 mb-2 text-center" v-show="collectionActionsName.length">
                            <template v-for="name in collectionActionsName">
                                <component v-bind:is="name" v-bind:c-conf="collectionActions[name]"></component>
                            </template>
                        </div>
                    </div>
                    <div class="row">


                                <span v-for="(row,index) in widgets" :key="index">
                                    <div class="card">
                                        <div class="card-header" v-if="row.header">
                                                <v-widget :c-widget="row.header"></v-widget>
                                        </div>
                                        <div class="card-body">
                                            <v-widget :c-widget="widget" v-for="(widget, key) in row"
                                                      v-if="(!isHiddenField(key) && key !== 'header')"
                                                      :class="key"></v-widget>
                                            <template v-for="(widget, key) in row" v-if="isHiddenField(key)">
                                                <v-widget :c-widget="widget" :key="key"></v-widget>
                                            </template>
                                        </div>
                                        <div class="card-footer btn-group" role="group"
                                             v-show="recordActionsName.length">
                                                <template v-for="(action,name) in recordActions[index]">
                                                    <v-action :c-action="action" :key="name"></v-action>
                                                </template>
                                            </div>
                                    </div>
                                </span>
                        <!--<div class="container-fluid py-1">-->
                    </div>


                    <!--<div class="table-responsive" style="white-space:nowrap;" :class="modelName">-->
                    <!--<table class="table table-framed table-striped table-bordered">-->
                    <!--<tbody>-->
                    <!--&lt;!&ndash; product &ndash;&gt;-->
                    <!--<tr v-for="(row,index) in widgets" :key="index">-->
                    <!--<th v-show="recordActionsName.length">-->
                    <!--<div class="btn-group" role="group">-->
                    <!--<template v-for="(action,name) in recordActions[index]">-->
                    <!--<v-action :c-action="action" :key="name"></v-action>-->
                    <!--</template>-->
                    <!--</div>-->

                    <!--</th>-->

                    <!--<td v-for="(widget, key) in row" v-if="!isHiddenField(key)" :class="key">-->
                    <!--<v-widget :c-widget="widget" :key="key"></v-widget>-->
                    <!--</td>-->
                    <!--<template v-for="(widget, key) in row" v-if="isHiddenField(key)">-->
                    <!--<v-widget :c-widget="widget" :key="key"></v-widget>-->
                    <!--</template>-->
                    <!--</tr>-->
                    <!--</tbody>-->


                    <!--</table>-->
                    <!--</div>-->


                    <!--</div>-->
                    <!-- end:portlet -->
                </div>
            </div>

        </v-list-constraint>
    </div>
</template>

<template id="w-list-hasmany-template">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-6 mt-2" v-for="(item,index) in confViews" v-show="showItem(index)">
            <div :title="item.value.nome" class="px-2">
                <v-hasmany v-bind:c-model="name" v-bind:c-conf="item"></v-hasmany>
            </div>
        </div>
    </div>
</template>


<template id="w-hasmany-view-template">
    <div class="portlet">
        <div class="portlet-body pl-1 pr-1 pb-1">
            <h5 class="">
                <span class="pull-left font-weight-medium" :class="titleClass">{{ label | translate }}</span>&nbsp;
            </h5>

            <input type="hidden" value="1">
            <div class="row">
                <div class="col-12 col-lg-12 col-xl-6 mt-2" v-for="(item,index) in confViews" v-show="showItem(index)">
                    <div class="card p-1 m-0
                     shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-60 border-danger bl-0 br-0 bb-0 bw--2">
                        <div class="card-body p-1">
                            <v-hasmany v-bind:c-model="name" v-bind:c-conf="item"></v-hasmany>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template id="w-hasmany-list-template">
    <div>
        <div class="list-unstyled">

            <!--  -- contenitore lista hasmany data dal template  default_hasmany_view_items_tpl-- -->
            <!--            <ul class="list-unstyled" v-for="(item,index) in value">-->
            <!--                <li>-->
            <!--                    <v-hasmany-view v-bind:c-model="cConf.modelName"-->
            <!--                                    v-bind:c-conf="getHasmanyConf(index,item)"></v-hasmany-view>-->

            <!--                </li>-->
            <!--            </ul>-->
            <ul class="list-unstyled">
                <li v-for="(item,index) in confViews">
                    <v-hasmany-view v-bind:c-model="name" v-bind:c-conf="item"></v-hasmany-view>

                </li>
            </ul>
        </div>
    </div>
</template>


<template id="w-hasone-template">
    <div class="portlet mb-1">
        <div class="portlet-header border-bottom mb-1 " :class="bgClass">
            <span class="pull-left text-dark text-truncate font-weight-medium">{{ label | translate }}</span>&nbsp;
            <div class="pull-right">
                <button v-if="!outOfLimit()" v-on:click="addItem" type="button"
                        class="btn-sm btn-pill px-2 py-1 fs--15 btn-warning">
                    <span>{{ 'app.aggiungi' | translate }}</span>&nbsp;
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <input type="hidden" value="1">
            <div class="row">
                <div class="col-12 mt-2" v-for="(item,index) in confViews" v-show="showItem(index)">
                    <div class="card p-1 m-0
                     shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-60 border-danger bl-0 br-0 bb-0 bw--2">
                        <!--<div class="card-header" crud-hasmany_title>-->
                        <!--{{cConf.metadata.modelName}}-->
                        <!--</div>-->
                        <div class="card-header bg-white">
                            <button v-if="nullable" v-on:click="deleteItem(index)"
                                    class="btn-danger btn-pill btn-xs pull-right"
                                    type="button" title="Cancella elemento"><i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="card-body p-1">
                            <v-hasmany v-bind:c-model="name" v-bind:c-conf="item"></v-hasmany>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="w-hasone-view-template">
    <div class="portlet">
        <div class="portlet-body pl-1 pr-1 pb-1">
            <h5 class="">
                <span class="pull-left text-truncate font-weight-medium "
                      :class="titleClass">{{ label | translate }}</span>&nbsp;
            </h5>

            <input type="hidden" value="1">
            <div class="row">
                <div class="col-12 mt-2" v-for="(item,index) in confViews" v-show="showItem(index)">
                    <div class="card p-1 m-0
                     shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-60 border-danger bl-0 br-0 bb-0 bw--2">
                        <div class="card-body p-1">
                            <v-hasmany v-bind:c-model="name" v-bind:c-conf="item"></v-hasmany>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template id="w-hasone-list-template">
    <div>
        <div class="list-unstyled">

            <!--  -- contenitore lista hasmany data dal template  default_hasmany_view_items_tpl-- -->
            <!--            <ul class="list-unstyled" v-for="(item,index) in value">-->
            <!--                <li>-->
            <!--                    <v-hasmany-view v-bind:c-model="cConf.modelName"-->
            <!--                                    v-bind:c-conf="getHasmanyConf(index,item)"></v-hasmany-view>-->

            <!--                </li>-->
            <!--            </ul>-->
            <ul class="list-unstyled">
                <li v-for="(item,index) in confViews">
                    <v-hasmany-view v-bind:c-model="name" v-bind:c-conf="item"></v-hasmany-view>

                </li>
            </ul>
        </div>
    </div>
</template>

<template id="w-hasone-real-template">
    <div class="portlet mb-1">
        <div class="portlet-header border-bottom mb-1 " :class="bgClass">
            <span class="pull-left text-dark text-truncate font-weight-medium">{{ label | translate }}</span>&nbsp;
            <div class="pull-right">
                <button v-if="nullable && (value != null)" v-on:click="addItem" type="button"
                        class="btn-sm btn-pill px-2 py-1 fs--15 btn-warning">
                    <span>{{ 'app.aggiungi' | translate }}</span>&nbsp;
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <v-hasone v-if="loaded" :c-conf="viewConf"></v-hasone>
        </div>
    </div>
</template>


<template id="w-swap-smarty-template">
    <div>
        <label class="form-switch form-switch-pill  d-block" :class="switchClass" v-on:click="swap" :title="title">
            <input type="checkbox" v-model="value">
            <i v-if="dataSwitched" data-on="&#10005;" data-off="&#10004;"
               style="font-family:Zapf Dingbats,font-regular,sans-serif !important"></i>
            <i v-else data-on="&#10004;" data-off="&#10005;"></i>
        </label>
    </div>
</template>


<template id="w-hasmany-through-template">
    <div class="card">
        <div class="card-body">
            <div class="panel panel-warning">
                <div class="panel-heading" crud-hasmany_title>
                </div>
                <div class="panel-body">
                    <p crud-hasmany_title_msg></p>
                    <ul class="list-group list-group-horizontal">
                        <!--  -- contenitore hasmany -- -->
                        <li v-for="item in value" class="list-group-item">
                            <v-hasmany v-bind:c-model="cConf.metadata.modelName"
                                       v-bind:c-conf="getHasmanyConf(item)"></v-hasmany>
                            <hr/>
                        </li>
                    </ul>

                </div>
                <div class="panel-footer">
                    <div>
                        <div crud-render_limit class="hide">
                            <!-- Limite massimo raggiunto -->
                            {{ 'app.limite-raggiunto' | translate }}
                        </div>
                        <button v-on:click="addItem" type="button" class="btn btn-primary btn-sm">
                            <span>{{ 'app.aggiungi' | translate }}</span>&nbsp;
                            <!--                            <span crud-label="modelMetadata.singular"></span>&nbsp;-->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/x-template" id="w-bootstrap-select-template">
    <select c-bootstrap-select class="form-control bs-select mb-3" data-live-search="true"
            v-bind:name="getFieldName()" v-model="value" v-bind:c-marker="cMarker" v-on:change="change">
    </select>
</script>








<!-- views --->





<template id="v-hasmany-listed-template">
    <tr v-if="!loading">
        <th>
            <button class="btn-danger btn-pill btn-xs "
                    type="button" title="Cancella elemento"><i class="fa fa-trash"></i>
            </button>

        </th>

        <td v-for="(widget, key) in widgets">
            <v-widget :c-widget="widget" :key="key"></v-widget>
        </td>
    </tr>
</template>

<!--<template id="v-hasone-template">-->
<!--    <c-loading v-if="loading"></c-loading>-->
<!--    <div v-else>-->
<!--        <div class="row" v-for="(widget, key) in widgets">-->
<!--            <v-widget :c-widget="widget"></v-widget>-->
<!--        </div>-->
<!--    </div>-->
<!--</template>-->

<template id="v-hasmany-view-template">
    <c-loading v-if="loading"></c-loading>
    <div v-else>
        <div class="row" v-for="(widget, key) in widgets">
            <v-widget :c-widget="widget"></v-widget>
        </div>
    </div>
</template>

<template id="v-hasmany-list-template">
    <div>
        <div v-if="loading">
            loading
        </div>
        <div v-else>
            <div>pippo</div>
            <div v-for="(widget, key) in widgets">
                <v-widget :c-widget="widget"></v-widget>
            </div>
        </div>
        <div v-show="actions.length">
            <template v-for="(action,name) in actionsConf">
                <component v-bind:is="name" v-bind:c-conf="action"></component>
            </template>
        </div>
    </div>
</template>

<template id="v-hasone-template">
    <div>
        <div v-for="(widget, key) in widgets" :key="key">
            <v-widget :c-widget="widget"></v-widget>
        </div>
    </div>
</template>
