<template id="w-autocomplete-template">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{{label}}</span>
        </div>
        <input type="text" c-autocomplete class="form-control">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" v-on:click="clear">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <input v-model="value" :name="getFieldName()" type="hidden" :c-marker="cMarker">
    </div>
</template>
