<template id="w-autocomplete-template">
    <div class="input-group">
        <span class="input-group-addon">{{label}}</span>
        <input type="search" c-autocomplete class="form-control mdb-autocomplete">
        <button type="button" class="input-group-btn btn btn-default" v-on:click="clear">
            <i class="fa fa-times"></i>
        </button>
        <input v-model="value" :name="getFieldName()" type="hidden" :c-marker="cMarker">
        <input c-operator v-model="operator" v-bind:name="getOperatorName()" type="hidden" />
    </div>
</template>
