<template id="w-upload-ajax-template">
    <div class="row">
        <div class="col-8">
            <div v-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <input type="hidden" v-model="value" :name="getFieldName()" >
            <div>
                <div v-show="extensions">
                    <span >{{'app.accepted-extensions' | translate}}: </span>
                    <span v-show="extensions">{{extensions.join(',')}}</span>
                </div>
                <div v-show="maxFileSize">
                    {{'app.upload-max-filesize' | translate}}: <span>{{maxFileSize}}</span>
                </div>
                <div>
                    <input c-file class="btn btn-outline-secondary" type="file" v-on:change="validate()" >
                </div>
            </div>
        </div>
        <div class="col-4">
            <w-preview :c-conf="getPreviewConf()"></w-preview>
        </div>
    </div>
</template>
