<script type="text/x-template" id="r-hasmany-image-edit-template">
    <div class="card" crud-render_element >
        <div class="card-body">
            <input type="hidden" name="fotos_exists" value="1">
            <div class="panel panel-info">
                <div class="panel-heading" crud-upload_title crud-label="modelMetadata.singular">
                    <br/>
                    <span><small crud-foto-msg></small></span>
                </div>
                     <ul class="sort_class list-inline" crud-render_list >
                        <li v-for="(data,index) in renders" class="list-inline-item" crud-upload_item>
                            <div class="card">
                                <div class="card-header">
                                    <span>titolo</span>
                                    <button v-on:click="deleteItem(index)" class="btn-danger btn-sm pull-right" type="button" title="Cancella Foto"><i class="fa fa-times-circle"></i></button>

                                </div>
                                <div v-for="(item,key) in data">
                                    <component v-bind:is="item.type" v-bind:c-conf="item" v-bind:c-key="key"></component>
                                </div>
                                <div class="text-center">
                                    <img v-bind:src="'/imagecache/small/'+data.preview">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <div crud-render_limit crud-lang="general-max_limit_reached"></div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div>
                        <button v-on:click="add" crud-button_add crud-pk="" type="button" class="btn btn-outline-primary btn-sm">
                            <span>{{$LANG.app.add}}</span> <span >@{{$LANG.model.foto}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="d-image-ulpload" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{$LANG.app.add}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="loader_foto"></div>
                                <div class="alert alert-danger" v-show="error">
                                    {{errorMessage}}
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div >
                                                <span crud-label="app.accepted-extensions"></span>:</div>
                                            <div crud-label="app.extensions-foto"></div>
                                            <div >Max <span crud-label="app.upload-max-filesize" ></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <input c-image-file class="btn btn-default" type="file" >
                                            </div>
                                        </td>
                                        <td>
                                            <div >
                                                <img v-bind:src="preview" ></img>
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                </table>
                                <div crud-view_container>
                                    <template v-for="(item,key) in uploadRenders">
                                        <span v-show="item.type!='r-hidden'">{{ key }}</span>
                                        <component v-bind:is="item.type" v-bind:c-conf="item" v-bind:c-key="null" v-bind:c-marker="key"></component>
                                    </template>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                            <button v-on:click="addItem" v-bind:disabled="!complete" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</script>