<script type="text/x-template" id="r-hasmany-view-template">
    <div crud-render_element>
        <div class="list-unstyled" crud-render_list >
            <!--  -- contenitore lista hasmany data dal template  default_hasmany_view_items_tpl-- -->
            <ul class="list-unstyled" v-for="item in value">
                <li>
                    <v-hasmany-view v-bind:c-model="cConf.metadata.modelName" v-bind:c-conf="getHasmanyConf(item)"></v-hasmany-view>

                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/x-template" id="r-hasmany-view-template1">
    <div crud-render_element>
        <div class="list-unstyled" crud-render_list >
            <!--  -- contenitore lista hasmany data dal template  default_hasmany_view_items_tpl-- -->
            <ul class="list-unstyled" v-for="item in value">
                <li>
                    elemento1
                    <span crud-field="label" ></span>
                </li>
            </ul>
        </div>
    </div>
</script>