<script type="text/x-template" id="r-input-helped-template">
    <div>
        <div crud-render_element>
            <input v-bind:readonly="!conf.customValue"
                   class="form-control" type="text" name="getFieldName()" v-model="value"
                   v-bind:c-marker="cMarker" v-on:change="change" >
            <div>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button v-for="(label,dVal) in conf.metadata.domainValues" type="button" class="btn btn-outline-secondary" v-on:click="setValue(dVal)">{{label}}</button>
                </div>
            </div>
        </div>
        <input c-operator v-model="operator" v-bind:name="getOperatorName()" type="hidden" />
    </div>
</script>