<script type="text/x-template" id="r-select-template">
    <div>
        <select class="form-control" v-bind:name="getFieldName()" v-model="value" v-bind:c-marker="cMarker"
                v-on:change="change">
            <option v-for="key in (conf.metadata.domainValuesOrder?conf.metadata.domainValuesOrder:Object.keys(conf.metadata.domainValues))" :value="key"
                    >{{conf.metadata.domainValues[key]}}</option>
        </select>
        <input c-operator v-model="operator" v-bind:name="getOperatorName()" type="hidden"/>
    </div>
</script>