<script type="text/x-template" id="r-upload-ajax-template">
    <div class="row">
        <div class="col-8">
            <div v-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <input type="hidden" v-model="value" :name="getFieldName()" >
            <div>
                <div v-show="extensions">
                    <span crud-label="app.accepted-extensions">Estensioni accettate: </span>
                    <span v-show="extensions">{{extensions.join(',')}}</span>
                </div>
                <div v-show="maxFileSize">
                    Dimensione massima: <span crud-label="app.upload-max-filesize" >{{maxFileSize}}</span>
                </div>
                <div>
                    <input c-file class="btn btn-outline-secondary" type="file" v-on:change="validate()" v-bind:c-marker="cMarker">
                </div>
                <input c-operator v-model="operator" v-bind:name="getOperatorName()" type="hidden" />
            </div>
        </div>
        <div class="col-4">
            <r-preview :c-conf="previewConf"></r-preview>
        </div>
    </div>
</script>