<template id="r-upload-template">
    <div>
        <div v-show="extensions">
            <span crud-label="app.accepted-extensions">Estensioni accettate: </span>
            <span v-show="extensions">{{extensions.join(',')}}</span>
        </div>
        <div v-show="maxFileSize">
            Dimensione massima: <span crud-label="app.upload-max-filesize" >{{maxFileSize}}</span>
        </div>
        <div>
            <input :name="getFieldName()" c-file class="btn btn-outline-secondary" type="file" v-on:change="validate()" v-bind:c-marker="cMarker">
        </div>
        <input c-operator v-model="operator" v-bind:name="getOperatorName()" type="hidden" />
    </div>
</template>